# 项目排除路径
/cmake-build-debug/
/.fleet/
/.idea/
/.cache/
/out/
/.vs/
/findPrimes.sln
/findPrimes.vcxproj
/findPrimes.vcxproj.filters
/findPrimes.vcxproj.user
/x64/
/build/
/.vscode/
/.editorconfig
/compile_commands.json
/cmake-build-release/
/cmake-build-debug-/
/cmake-build-*